 /*This is coded by Sandeep Rasali(S342931) on 10th May, 2021 at 12.53am darwin time*/
 /*Css for google map*/
 #map {
    height: 100%;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }